<?php
	use app\config\Urls;
	use app\data\UrlsEnum;
	
	include_once 'inc/headerInc.html';
?>
<div class="navigation"><a href="<?php echo Urls::getUrl(UrlsEnum::ADMIN_VIEW_INDEX); ?>"><?php echo LANG_INDEX; ?></a> &#187; <b><?php echo LANG_ENTRIES; ?></b></div>
<div class="body">
	<!-- Left Aside -->
	<?php include_once 'inc/leftAsideInc.html'; ?>
	<main class="main">
		<section>
			<!-- Messages -->
			<?php echo CONTEXT['MESSAGES']['HTML_BOX']; ?>
			<!-- Content -->
			<button class="button button-red margin-bottom10" onclick="window.location.href='<?php echo Urls::getUrl(UrlsEnum::ADMIN_VIEW_ADDENTRY); ?>';"><?php echo LANG_NEW; ?></button>
			<div class="block-header"><?php echo LANG_ENTRIES; ?>&nbsp;(<?php echo CONTEXT['ENTRIES_TOTAL']; ?>)</div>
			<div class="content">
				<?php
					foreach(CONTEXT['ENTRIES'] as $row) {
						echo '<div class="row"><span>[' . $row->entry_published . '] ' . $row->entry_title . '</span><a href="' . Urls::getUrl(UrlsEnum::ADMIN_VIEW_EDITENTRY, array($row->entry_id)) . '">' . LANG_EDIT . '</a></div>';
					}
				?>
			</div>
		</section>
		<!-- Games Pagination -->
		<section class="margin-bottom10 padding10">
			<?php echo CONTEXT['PAGINATION']; ?>
		</section>
	</main>
</div>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
