<?php include_once 'inc/headerInc.html'; ?>
<!-- Body -->
<section class="flex flex-halign-justify">
	<!-- Left Aside -->
	<?php include_once 'inc/leftAsideInc.html'; ?>
	<!-- Content -->
	<main class="main ccentral-right">
		<section class="padding10">
			<div class="border1-blue flex flex-valign-center flex-halign-justify font-white lgradient lgradient-blue padding5">
				<b class="uppercase"><?php echo CONTEXT['TITLE']; ?></b>&#11167;
			</div>
			<div class="border1-gray lgradient lgradient-white padding10">
				<div class="text-center vpadding40"><?php echo CONTEXT['DESCRIPTION']; ?></div>
			</div>
		</section>
	</main>
</section>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
