<?php
	use app\config\Urls;
	use app\data\UrlsEnum;
	
	include_once 'inc/headerInc.html';
?>
<!-- Body -->
<section class="flex flex-halign-justify">
	<!-- Left Aside -->
	<?php include_once 'inc/leftAsideInc.html'; ?>
	<!-- Content -->
	<main class="ccentral-right main">
		<!-- Games Filters -->
		<section>
			<div class="margin10">
				<div class="border1-blue flex flex-valign-center flex-halign-justify font-white lgradient lgradient-blue padding5">
					<b class="uppercase"><?php echo CONTEXT['TITLE']; ?></b>&#11167;
				</div>
				<div class="border1-gray gradient-gray2 padding5"><a class="link-gray2" href="<?php echo Urls::getUrl(UrlsEnum::INIT_VIEW_INDEX); ?>"><?php echo LANG_INDEX; ?></a> &#187; <b><?php echo CONTEXT['TITLE']; ?></b></div>
			</div>
		</section>
		<!-- Games List -->
		<section class="border1-gray margin10">
			<?php
				if(sizeof(CONTEXT['GAMES']) > 0) {
					$idx = 1;
					foreach(CONTEXT['GAMES'] as $row) {
						echo '<article class="border-bottom1-gray flex flex-halign-justify flex-valign-center ' . ($idx % 2 === 0 ? 'bg-white' : 'bg-blue2') . '">
							<div class="flex flex-valign-center">
								<div class="flex flex-valign-center margin10">
									<h1 class="font-24" style="width: 45px; text-align: center;">' . $idx . '</h1>
								</div>
								<div class="flex flex-valign-center margin10">
									<a class="flex font-11 syslabel-link syslabel" href="' . Urls::getUrl(UrlsEnum::GAME_VIEW_LIST, array($row->platform_tag, 'all', 1)) . '"><span class="flex syslabel-color syslabel-color-' . $row->platform_colour . '">&nbsp;</span><span class="flex syslabel-text" title="' . $row->platform_name . '">' . $row->platform_tag . '</span></a>
								</div>
								<div class="flex-valign-center">
									<a class="flex link-black margin-bottom5" href="' . Urls::getUrl(UrlsEnum::GAME_VIEW_SHOW, array($row->platform_tag, $row->game_id, 'info')) . '"><b>' . $row->game_name . '</b></a>
									<p class="flex font-11 font-white">' . $row->game_genres . '</p>
								</div>
							</div>
							<div class="flex margin10">
								<div class="border1-black font-white lgradient lgradient-gray2 padding5 text-center width-64px">
									<p class="font-10">' . LANG_SCORE . '</p>
									<p class="font-14"><b>' . $row->game_score . '</b></p>
								</div>
							</div>
						</article>';
						$idx++;
					}
				} else {
					echo '<div class="margin20 text-center">' . LANG_NO_RESULTS_FOUND . '</div>';
				}
			?>
		</section>
	</main>
</section>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
