<?php
	use app\config\Urls;
	use app\data\UrlsEnum;
	
	include_once 'inc/headerInc.html';
?>
<!-- Body -->
<section class="flex flex-halign-justify">
	<!-- Left Aside -->
	<?php include_once 'inc/leftAsideInc.html'; ?>
	<!-- Content -->
	<main class="ccentral-right main">
		<!-- Games Filters -->
		<section>
			<div class="margin10">
				<div class="border1-blue flex flex-valign-center flex-halign-justify font-white lgradient lgradient-blue padding5">
					<b class="uppercase"><?php echo CONTEXT['PLATFORM'] != null ? sprintf(LANG_PLATFORM_GAMES, ucfirst(CONTEXT['PLATFORM']->platform_name)) : LANG_GAMES; ?></b>&#11167;
				</div>
				<div class="border1-gray gradient-gray2 padding5"><a class="link-gray2" href="<?php echo Urls::getUrl(UrlsEnum::INIT_VIEW_INDEX); ?>"><?php echo LANG_INDEX; ?></a> &#187; <?php echo CONTEXT['PLATFORM'] == null ? '<b>' . LANG_GAMES . ' (' . CONTEXT['GAMES_TOTAL'] . ')</b>' : '<a class="link-gray2" href="' . Urls::getUrl(UrlsEnum::GAME_VIEW_LIST, array('all', 'all', 1)) . '">' . LANG_GAMES . '</a> &#187; <b>' . CONTEXT['PLATFORM']->platform_name . ' (' . CONTEXT['GAMES_TOTAL'] . ')</b>'; ?></div>
			</div>
			<form action="" class="flex flex-valign-center flex-halign-center padding10" method="post">
				<div class="flex flex-valign-center">
					<label class="padding10" for="platform"><b><?php echo LANG_PLATFORM; ?></b></label>
					<select id="platform" name="platform">
						<option value="all"><?php echo LANG_ALL2; ?></option>
						<?php
							foreach(CONTEXT['PLATFORMS'] as $row) {
								if(isset($_GET['platform']) && $_GET['platform'] == $row->platform_tag) {
									echo '<option value="' . $row->platform_tag . '" selected>' . $row->platform_name . '</option>';
								} else {
									echo '<option value="' . $row->platform_tag . '">' . $row->platform_name . '</option>';
								}
							}
						?>
					</select>
				</div>
				<div class="flex flex-valign-center">
					<label class="padding10" for="genre"><b><?php echo LANG_GENRE; ?></b></label>
					<select id="genre" name="genre">
						<option value="all"><?php echo LANG_ALL; ?></option>
						<?php
							foreach(CONTEXT['GENRES'] as $row) {
								if(isset($_GET['genre']) && $_GET['genre'] == $row->metadata_id) {
									echo '<option value="' . $row->metadata_id . '" selected>' . $row->metadata_value . '</option>';
								} else {
									echo '<option value="' . $row->metadata_id . '">' . $row->metadata_value . '</option>';
								}
							}
						?>
					</select>
				</div>
				<input class="button button-blue margin10" name="gsearch-submit" type="submit" value="<?php echo LANG_APPLY_FILTERS; ?>">
			</form>
		</section>
		<!-- Games List -->
		<section class="border1-gray margin10">
			<?php
				if(sizeof(CONTEXT['GAMES']) > 0) {
					$idx = 1;
					foreach(CONTEXT['GAMES'] as $row) {
						echo '<article class="border-bottom1-gray flex flex-halign-justify flex-valign-center ' . ($idx % 2 === 0 ? 'bg-white' : 'bg-blue2') . '">
							<div class="flex flex-valign-center">
								<div class="flex flex-valign-center margin10">
									<a class="flex font-11 syslabel-link syslabel" href="' . Urls::getUrl(UrlsEnum::GAME_VIEW_LIST, array($row->platform_tag, 'all', 1)) . '"><span class="flex syslabel-color syslabel-color-' . $row->platform_colour . '">&nbsp;</span><span class="flex syslabel-text" title="' . $row->platform_name . '">' . $row->platform_tag . '</span></a>
								</div>
								<div class="flex-valign-center">
									<a class="flex link-black margin-bottom5" href="' . Urls::getUrl(UrlsEnum::GAME_VIEW_SHOW, array($row->platform_tag, $row->game_id, 'info')) . '"><b>' . $row->game_name . '</b></a>
									<p class="flex font-11 font-white">' . $row->game_genres . '</p>
								</div>
							</div>
							<div class="flex margin10">
								<div class="border1-blue font-white gradient-blue padding5 text-center width-64px">
									<p class="font-10">Web</p>
									<p class="font-14"><b>' . ($row->game_webavg != null ? $row->game_webavg : 'S/N') . '</b></p>
								</div>
								<div class="border1-gray2 font-black lgradient lgradient-gray padding5 text-center width-64px">
									<p class="font-10">' . LANG_MEDIA . '</p>
									<p class="font-14"><b>' . ($row->game_mediaavg != null ? $row->game_mediaavg : 'S/N') . '</b></p>
								</div>
								<div class="border1-gray3 font-white lgradient lgradient-gray2 padding5 text-center width-64px">
									<p class="font-10">' . LANG_USERS . '</p>
									<p class="font-14"><b>' . ($row->game_useravg != null ? $row->game_useravg : 'S/N') . '</b></p>
								</div>
							</div>
						</article>';
						$idx++;
					}
				} else {
					echo '<div class="margin20 text-center">' . LANG_NO_RESULTS_FOUND . '</div>';
				}
			?>
		</section>
		<!-- Games Pagination -->
		<section class="margin-bottom10 padding10">
			<?php echo CONTEXT['PAGINATION']; ?>
		</section>
	</main>
</section>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
