<?php
	use app\config\Urls;
	use app\data\UrlsEnum;
	
	include_once 'inc/headerInc.html';
?>
<!-- Body -->
<section class="flex flex-halign-justify">
	<!-- Left Aside -->
	<?php include_once 'inc/leftAsideInc.html'; ?>
	<!-- Content -->
	<main class="ccentral-right main">
		<section>
			<div class="margin10">
				<div class="border1-blue flex flex-valign-center flex-halign-justify font-white lgradient lgradient-blue padding5">
					<b class="uppercase"><?php echo CONTEXT['CPAGE']->page_title; ?></b>&#11167;
				</div>
				<div class="border1-gray gradient-gray2 padding5"><a class="link-gray2" href="<?php echo Urls::getUrl(UrlsEnum::INIT_VIEW_INDEX); ?>"><?php echo LANG_INDEX; ?></a> &#187; <b><?php echo CONTEXT['CPAGE']->page_title; ?></b></div>
			</div>
		</section>
		<!-- Page content -->
		<section class="border1-gray margin10">
			<div class="margin20"><?php echo CONTEXT['CPAGE']->page_content; ?></div>
		</section>
	</main>
</section>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
