<?php
	use app\config\Urls;
	use app\data\UrlsEnum;
	
	include_once 'inc/headerInc.html';
?>
<!-- Body -->
<section class="flex">
	<!-- Left Aside -->
	<?php include_once 'inc/leftUserAsideInc.html'; ?>
	<!-- Content -->
	<main class="ccentral-right main">
		<!-- Inbox -->
		<section class="padding10" id="uinbox">
			<div class="border1-gray margin-bottom10 padding5"><a class="link-blue" href="<?php echo Urls::getUrl(UrlsEnum::INIT_VIEW_INDEX); ?>"><b><?php echo LANG_INDEX; ?></b></a> / <?php echo LANG_MY_FRIENDS; ?></div>
			<div class="border1-blue flex flex-valign-center flex-halign-justify font-white lgradient lgradient-blue padding5">
				<b class="uppercase"><?php echo LANG_MY_FRIENDS; ?></b>&#11167;
			</div>
			<div class="border1-gray">
				<div class="border-bottom1-gray lgradient lgradient-white padding10">
					<div class="info padding10"><?php echo LANG_REQUESTS_HELP_MESSAGE; ?></div>
				</div>
				<div class="padding10">
					<!-- Messages -->
					<?php echo CONTEXT['MESSAGES']['HTML_BOX']; ?>
				</div>
				<div class="border-bottom1-gray gradient-gray text-center">
					<div class="padding10 uppercase"><b><?php echo LANG_FRIENDS_MANAGEMENT; ?></b></div>
				</div>
				<form accept-charset="utf-8" action="<?php echo Urls::getUrl(UrlsEnum::MEMBER_ACTION_REMOVEFRIEND); ?>" autocomplete="off" enctype="application/x-www-form-urlencoded" method="post" name="removefriend-form" onsubmit="return confirm('<?php echo LANG_DELETE_SELECTED_QUESTION; ?>');" target="_self">
					<input name="token" type="hidden" value="<?php echo CONTEXT['SECURITY']['TOKEN']; ?>">
					<?php
						if(sizeof(CONTEXT['FRIENDS']) > 0) {
							foreach(CONTEXT['FRIENDS'] as $row) {
								echo '<div class="border-bottom1-gray flex flex-valign-center flex-halign-justify lgradient lgradient-white">
									<div class="font-11 padding10"><b>&#9993;</b><label>&nbsp;&#11208;&nbsp;<label><a class="link-black" href="' . Urls::getUrl(UrlsEnum::MEMBER_VIEW_PROFILE, array($row->member_id)) . '">' . $row->member_username . '</a></label></div>
									<label class="flex flex-valign-center font-10 font-gray9 uppercase">
										<label for="request' . $row->member_id . '"><b>' . date(LANGCONFIG_DATEHOUR_FORMAT, strtotime($row->member_relation_date)) . '</b></label>
										<input class="margin10" id="request' . $row->member_id . '" name="requests[]" type="checkbox" value="' . $row->member_id . '">
									</label>
								</div>';
							}
						} else {
							echo '<div class="margin20 text-center">' . LANG_NO_RESULTS_FOUND . '</div>';
						}
					?>
					
					<div class="border-bottom1-gray flex flex-valign-center flex-halign-justify gradient-gray">
						<div class="font-11 padding10"><b class="uppercase"><?php echo LANG_FRIENDS; ?>:</b>&nbsp;<?php echo sizeof(CONTEXT['FRIENDS']); ?></div>
						<?php echo '<input class="button button-orange hmargin5" type="submit" value="' . LANG_DELETE_SELECTED . '"' . (sizeof(CONTEXT['FRIENDS']) === 0 ? ' disabled' : '') . '>'; ?>
					</div>
				</form>
			</div>
		</section>
	</main>
</section>
<!-- Footer -->
<?php include_once 'inc/footerInc.html'; ?>
